$--colors: (
  "primary": (
    "base": #2b68e8,
  ),
  "success": (
    "base": #23b883,
  ),
  "warning": (
    "base": #e9b22b,
  ),
  "danger": (
    "base": #ed4649,
  ),
  "error": (
    "base": #ed4649,
  ),
  "info": (
    "base": #1f2937,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $menu: (
    'border-color': transparent,
  ),
  $dialog: (
    'border-radius': 10px,
    'padding-primary': 40px,
  )
);