@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// @layer base {
//   html {
//     font-family: Avenir,Helvetica,Arial,sans-serif;
//   }
// }

.vd {
  &-fullbar {
    .vd-sidebar {
      width: 260px !important;
    }
    .vd-main {
      margin-left: 260px;
      width: calc(100% - 260px);
    }
    .vd-header {
      width: calc(100% - 260px);
      z-index: 0;
    }
  }
  &-desktop,
  &-mobile {
    padding-top: 60px;
  }
  &-mobile {
    .vd-sidebar {
      width: 0px;
      overflow: hidden;
    }
    .vd-main {
      margin-left: 0px;
      width: 100%;
    }
    .vd-header {
      width: 100%;
    }
  }
  &-sidebar {
    position: fixed;
    width: 64px;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  &-main {
    margin-left: 64px;
    width: calc(100% - 64px);
  }
  &-header {
    width: calc(100% - 64px);
    position: fixed;
    top: 0;
    z-index: 999;
  }
}